.code-column {
    width: 15%;
    padding: 10px;
    color: #161216;
}

.description-column {
    width: 100%;
    font-size: 12px;
    padding-left: 10px;
    color: #161216;
}

.border-gray {
    border: 1px solid gray;
}

.name-column {
    width: 85%;
    padding: 10px;
    color: #161216;
}

.background-color-main {
    background-color: #0F8B8D;
}

.full-width {
    width: 100%;
}

.unit-table {
    background-color: #C8F8F9;
    border-collapse: collapse;
}

.list-style-none {
    list-style-type: none;
    padding-left: 0;
}

.border-gray-right {
    border-right: 1px solid gray;
}

table {
    width: 100%;
}

.chapter a:hover{
    cursor: pointer;
    color: #22596D;
}

.chapter span{
    color: white;
}

.search-box input {
    width: 180px;
    height: 34px;
    background: #f4fcfd;
    border: none;
    border-radius: 2px !important;
    font-family: 'Lato', sans-serif;

}

.search-box input:focus {
    background: #fff;
}