<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Diseases Panel - Filtered</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:inline="javascript">

        // var diseases = [${diseases}];

        // $('#txtSearch').on('keyup', function () {
            //     var value = $(this).val();
            //     console.log('Value = ' + value);
            //
            //     var data = FilterFunction(value, diseases);
            //
            //     rebuildTable(data);
            // });

        function FilterFunction(value, data) {
            var filterData = [];
            for (var i = 0; i < data.lenght; i++) {
                value = value.toLowerCase();
                var name = data[i].name.toLowerCase();
                var code = data[i].code.toLowerCase();

                if (name.includes(value) || code.includes(value)) {
                    filterData.push(data[i]);
                }
            }
            return filterData;
        }

        function rebuildTable(data) {
            var table = document.getElementById('diseasesTable');
            table.innerHTML = '';
            for (var i = 0; i < data.lenght; i++) {
                var row = '<tr>' +
                    '<td>${data[i].code}</td>' +
                    '<td>${data[i].name}</td>' +
                    '</tr>';
                table.innerHTML += row;
            }
        }

    </script>

</head>
<body>

<input id="txtSearch" type="text" name="keyword"/>

<table id="diseasesTable" class="table table-bordered">
    <thead>
    <tr>
        <td>Code</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody th:each="disease : ${diseases}">
    <tr>
        <td th:text="${disease.code}"></td>
        <td th:text="${disease.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>